{
	"stylesheets": [
		{
			"source": "theme/assets/css/*.scss",
			"destination": "app/themes/obsidian/assets/css",
			"prefixer": {
				"browsers": ["last 2 versions", "> 2%"]
			},
			"sass": {
				"outputStyle": "compressed"
			}
		}
	],
	"scripts": [
		{
			"source": ["theme/assets/js/main.js"],
			"destination": "app/themes/obsidian/assets/js",
			"dependencies": ["node_modules/lodash/example.js"],
			"name": "bundle",
			"babel": {
				"presets": ["@babel/env"]
			}
		}
	]
}
